$color-neutral-off-white-opaque: #ffffff;
$color-neutral-off-black-opaque: #000000;
$color-surface-primary-opaque: $color-neutral-off-white-opaque;
$color-surface-secondary-opaque: #342d58;
$color-safety-success: #24a147;
$color-safety-error: #da1e28;
$color-safety-warning: #ff832c;
$color-brand-main: #6c03f5;
$transparency-opaque: 100px;
$transparency-semi-transparent: 80px;
$transparency-transparent: 40px;
$transparency-invisible: 0px;
$color-surface-primary-invisible: $color-neutral-off-white-invisible;
$color-surface-primary-transparent: $color-neutral-off-white-transparent;
$color-surface-primary-semi-transparent: $color-neutral-off-white-semi-transparent;
$color-text-default: #342d58;
$color-text-overlay: #342d58;
$color-neutral-off-white-semi-transparent: #ffffff;
$color-neutral-off-white-transparent: #ffffff;
$color-neutral-off-white-invisible: #ffffff;
$color-neutral-off-black-semi-transparent: #000000;
$color-neutral-off-black-transparent: #000000;
$color-neutral-off-black-invisible: #000000;
$color-icons-primary: #342d58;
$color-icons-contrast: $color-brand-main;
$color-icons-secondary: #342d58;
$color-surface-secondary-semi-transparent: #69668e;
$color-surface-secondary-transparent: #69668e;
$color-surface-secondary-invisible: #69668e;
$color-icons-text: $color-neutral-off-white-opaque;
$color-icons-gradient-color: #d447ff;
$color-icons-alternative: $color-neutral-off-white-transparent;
