$color-neutral-off-white-opaque: #ffffff;
$color-neutral-off-black-opaque: #000000;
$color-surface-primary-opaque: #342d58;
$color-surface-secondary-opaque: #aba1d5;
$color-safety-success: #24a147;
$color-safety-error: #da1e28;
$color-safety-warning: #ff832c;
$color-brand-main: #f0d800;
$transparency-opaque: 100px;
$transparency-semi-transparent: 80px;
$transparency-transparent: 40px;
$transparency-invisible: 0px;
$color-surface-primary-invisible: #342d58;
$color-surface-primary-transparent: #342d58;
$color-surface-primary-semi-transparent: #342d58;
$color-text-default: $color-neutral-off-white-opaque;
$color-text-overlay: $color-surface-secondary-opaque;
$color-neutral-off-white-semi-transparent: #ffffff;
$color-neutral-off-white-transparent: #ffffff;
$color-neutral-off-white-invisible: #ffffff;
$color-neutral-off-black-semi-transparent: #000000;
$color-neutral-off-black-transparent: #000000;
$color-neutral-off-black-invisible: #000000;
$color-icons-primary: $color-neutral-off-white-opaque;
$color-icons-contrast: $color-brand-main;
$color-icons-secondary: $color-neutral-off-white-transparent;
$color-surface-secondary-semi-transparent: #aba1d5;
$color-surface-secondary-transparent: #aba1d5;
$color-surface-secondary-invisible: #aba1d5;
$color-icons-text: $color-neutral-off-black-opaque;
$color-icons-gradient-color: $color-safety-warning;
$color-icons-alternative: $color-surface-secondary-opaque;
